/* Footer */

footer{
  background: var(--primary-color);
  font-weight: 550;
  padding: 0.4rem;
  font-size: 14px;
  margin-top: 10px;
}
  
footer p{
  margin: 0 !important;
  color: var(--secondary-color) !important;
  position: sticky;
}

.classFooter{
  position: sticky;
  bottom: 0;
}