/* Contact */

#content-contact{
    display: flex;
    justify-content: center;
}

.info-contact{
    background: var(--background-color-card);
    box-shadow: 0 5px 10px rgba(0,0,0,0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    border-radius: 5px;
}

.contact-item{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-item input, .contact-item textarea{
    width: 80%;
    margin: 10px;
    background: rgba(12, 117, 173, 0.255);
    outline: none;
}

.btn{
    margin: 10px;
    transition: 0.2s ease-in;
    min-width: 85px;
}

.info-contact a{
    width: 50%;
    margin: 5px auto;
}

.icon-contact{
    margin-right: 5px;
}

@media screen and (max-width: 850px) {
    .content{
        flex-direction: column;
    }
    .col-md-5{
        flex: 0 0 auto;
        width: 100%;
    }
}


input::placeholder, textarea::placeholder{
    color: rgba(255, 255, 255, 0.8) !important;
    padding-left: 2px;
}

input, textarea{
    color: var(--text-color);
    border-radius: 5px;
    border: 0px solid #000000;
    padding: 5px;
}

textarea{
    min-height: 80px;
}

.classFooter{
    position: fixed;
    bottom: 0;
    width: 100%;
}